export PATH=$HOME/.local/bin:$PATH
export _JAVA_AWT_WM_NONREPARENTING=1
export QT_STYLE_OVERRIDE=kvantum 

# Screens
hdmi=`xrandr | grep ' connected' | grep 'HDMI' | awk '{print $1}'`

if [ "$hdmi" = "HDMI-1" ]; then
  xrandr --output eDP-1 --primary --mode 1920x1080 --pos 0x180 --rotate normal --output HDMI-1 --mode 2560x1440 --pos 1920x0 --rotate normal --output DP-1 --off &
else
  xrandr --output eDP-1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output HDMI-1 --off --output DP-1 --off &
fi

# Composer
picom &
# Keyboard Layout
setxkbmap latam &
# Wallpaper
feh --bg-scale imagenes/rin.png &
# Udiskie
udiskie -t &
# Icono de wifi o internet
nm-applet &
